{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static "/dist/css/skins/all-skins.min.css" %}">

  <link rel="stylesheet" href="{% static "/build/css/dataTables.bootstrap.min.css" %}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static "/plugins/iCheck/all.css" %}">

  <style type="text/css">
    .pad{
      padding: 0px 10px 5px;
    }

    @media (min-width: 768px){
      .modal-dialog {
          width: 750px;
          margin: 30px auto;
      }
    }
  </style>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
{% endblock %}
  <!-- Google Font -->

  {% block nav %}
  <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->

        <span class="hidden-xs">{{ teacher.first_name }} {{ teacher.last_name }} </span>

                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">

                    <p>
                      {{ teacher.Sap_Id }}
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{% url 'user_profile:teacher_dashboard' %}" class="btn btn-default btn-flat">Dashboard</a>
                    </div>
                    <div class="pull-left">
                      <a href="{% url 'user_profile:notifs' %}" class="btn btn-default btn-flat">Notifications</a>
                    </div>
                    <div class="pull-left">
                      <a href="{% url 'user_profile:logout_teacher' %}" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
      </nav>
  {% endblock %}


{% block content %}
    <!-- Content Header (Page header) -->
      <section class="content">
          <div class="box box-header with-border">
            <form action="/search/" method="post" role="form">
              {% csrf_token %}
              <input type="text" name="searchany" placeholder="Search">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="row">
            <div class="col-md-12">
                <form method="post" action="/search/" role="form">
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <h3 class="box-title">Filter</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="box-group" id="accordion">
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                           {% csrf_token %}
                          <div class="panel box box-primary">
                            <div class="box-header with-border">
                              <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Skills
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="box-body">
                                {% for skill in skills %}
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" name="skills[]" value="{{skill}}"> {{skill}}
                                  </label>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                          <div class="panel box box-primary">
                            <div class="box-header with-border">
                              <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                  Year
                                </a>
                              </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                              <div class="box-body">
                                <input type="checkbox" name="year[]" value="FE">FE<br>
                                <input type="checkbox" name="year[]" value="SE">SE<br>
                                <input type="checkbox" name="year[]" value="TE">TE<br>
                                <input type="checkbox" name="year[]" value="BE">BE<br>
                              </div>
                            </div>
                          </div>
                          <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>

                          </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </form>
                  <!-- /.box -->
            </div>
          </div>

          {% if result %}
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Students</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="modal fade" id="modal-Student">
                    <div class="modal-dialog">
                       <div class="modal-content">
                          <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span></button>
                             <h4 class="modal-title">Students</h4>
                             <button id="dl" type="button" class="btn btn-primary pull-right">Download</button>
                          </div>
                          <div class="modal-body">
                            <div class="box">
                               <!-- /.box-header -->
                               <div class="box-body">
                                  <table id="studenttable" class="table table-bordered table-hover">
                                     <thead>
                                        <tr>
                                           <th>Name</th>
                                           <th>Sap Id</th>
                                           <th>Year</th>
                                           <th>CGPA</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                      {% for result in result %}
                                        <tr>
                                           <td>{{ result.first_name }} {{ result.last_name }}</td>
                                           <td>{{ result.Sap_Id }}</td>
                                           <td>{{ result.year }}</td>
                                           <td>{{ result.cgpa }}</td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                     <tfoot>
                                        <tr>
                                           <th>Name</th>
                                           <th>Sap Id</th>
                                           <th>Year</th>
                                           <th>CGPA</th>
                                        </tr>
                                     </tfoot>
                                  </table>
                                  <br/>
                               </div>
                               <!-- /.box-body -->
                            </div>
                          </div>
                          <div class="modal-footer">
                             <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                          </div>
                       </div>
                       <!-- /.modal-content -->
                    </div>
                        <!-- /.modal-dialog -->
                  </div>
                  {% for result in result %}
                    <div class="col-md-4">
                      <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-aqua-active">
                          <h3 class="widget-user-username"> {{ result.first_name }} {{ result.last_name }}</h3>
                          <h5 class="widget-user-desc">{{ result.Sap_Id }}</h5>
                        </div>
                        <div class="widget-user-image">
                          <img class="img-circle" src="../../static/dist/img/avatar.png" alt="User Avatar">
                        </div>
                        <div class="box-footer">
                          <div class="row">
                            <div class="col-sm-4 border-right">
                              <div class="description-block">
                                <h5 class="description-header">{{ result.year }}</h5>
                                <span class="description-text">Year</span>
                              </div>
                              <!-- /.description-block -->
                              <!-- /.col -->
                            </div>
                            <div class="col-sm-4 border-right">
                              <div class="description-block">
                                <h5 class="description-header"><a href="{% url 'user_profile:student_profile' result.id  %}" >View Profile</a></h5>
                              </div>
                              <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                              <div class="description-block">
                                <h5 class="description-header">{{ result.cgpa }}</h5>
                                <span class="description-text">CGPA</span>
                              </div>
                              <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="box-footer">
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-Student">
                  Show Tabular form
                </button>
              </div>
            </div>
          {% endif %}

          <hr/>
          {% if projects %}
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Projects</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="modal fade" id="modal-Project">
                    <div class="modal-dialog">
                       <div class="modal-content">
                          <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span></button>
                             <h4 class="modal-title">Projects</h4>
                             <button id="dlProj" type="button" class="btn btn-primary pull-right">Download</button>
                          </div>
                          <div class="modal-body">
                            <div class="box">
                               <!-- /.box-header -->
                               <div class="box-body">
                                  <table id="projtable" class="table table-bordered table-hover">
                                     <thead>
                                        <tr>
                                           <th>Project Name</th>
                                           <th>Sap Id Of Student</th>
                                           <th>Skills involved</th>
                                           <th>Description</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                      {% for project in projects %}
                                        <tr>
                                           <td>{{ project.ProjName }}</td>
                                           <td>{{ project.student_profile.Sap_Id }}</td>
                                           <td>{{ project.skill }}</td>
                                           <td>{{ project.ProjDesc }}</td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                     <tfoot>
                                        <tr>
                                            <th>Project Name</th>
                                           <th>Sap Id Of Student</th>
                                           <th>Skills involved</th>
                                           <th>Description</th>
                                        </tr>
                                     </tfoot>
                                  </table>
                                  <br/>
                               </div>
                               <!-- /.box-body -->
                            </div>
                          </div>
                          <div class="modal-footer">
                             <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                          </div>
                       </div>
                       <!-- /.modal-content -->
                    </div>
                        <!-- /.modal-dialog -->
                  </div>
              {% for project in projects %}
                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-userser-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                      <div class="pad widget-user-header bg-yellow">
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username">{{ project.student_profile.Sap_Id }}</h3>
                        <h5 class="widget-user-desc">{{ project.ProjName }}</h5>
                      </div>
                      <div class="box-footer no-padding">
                        <ul class="pad nav nav-stacked">
                          <li>{{ project.ProjURL }}</li>
                          <li> {{ project.skill }}</li>
                          <li>{{ project.ProjDesc }}</li>
                          <li><a href="{% url 'user_profile:project' project.id  %}">View</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
              {% endfor %}
                </div>
              </div>
              <div class="box-footer">
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-Project">
                  Show Tabular form
                </button>
              </div>
            </div>
          {% endif %}

          <hr/>
          {% if beprojects %}
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">BE PROJECTS</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="modal fade" id="modal-BEProject">
                      <div class="modal-dialog">
                         <div class="modal-content">
                            <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span></button>
                               <h4 class="modal-title">BE Projects</h4>
                               <button id="dlBEProj" type="button" class="btn btn-primary pull-right">Download</button>
                            </div>
                            <div class="modal-body">
                              <div class="box">
                                 <!-- /.box-header -->
                                 <div class="box-body">
                                    <table id="BEprojtable" class="table table-bordered table-hover">
                                       <thead>
                                          <tr>
                                             <th>Project Name</th>
                                             <th>Sap Id Of Student</th>
                                             <th>Skills involved</th>
                                             <th>Description</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                        {% for project in projects %}
                                          <tr>
                                             <td>{{ project.ProjName }}</td>
                                             <td>{{ project.student_profile.Sap_Id }}</td>
                                             <td>{{ project.skill }}</td>
                                             <td>{{ project.ProjDesc }}</td>
                                          </tr>
                                        {% endfor %}
                                      </tbody>
                                       <tfoot>
                                          <tr>
                                              <th>Project Name</th>
                                             <th>Sap Id Of Student</th>
                                             <th>Skills involved</th>
                                             <th>Description</th>
                                          </tr>
                                       </tfoot>
                                    </table>
                                    <br/>
                                 </div>
                                 <!-- /.box-body -->
                              </div>
                            </div>
                            <div class="modal-footer">
                               <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            </div>
                         </div>
                         <!-- /.modal-content -->
                      </div>
                          <!-- /.modal-dialog -->
                  </div>
                  {% for project in beprojects %}
                    <div class="col-md-4">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-userser-2">
                          <!-- Add the bg color to the header using any of the bg-* classes -->
                          <div class="pad widget-user-header bg-yellow">
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">{{ project.student_profile.Sap_Id }}</h3>
                            <h5 class="widget-user-desc">{{ project.ProjName }}</h5>
                          </div>
                          <div class="box-footer no-padding">
                            <ul class="pad nav nav-stacked">
                              <li>{{ project.ProjURL }}</li>
                              <li> {{ project.skill }}</li>
                              <li>{{ project.ProjDesc }}</li>
                              <li><a href="{% url 'user_profile:beproject' project.id  %}">View</a></li>
                            </ul>
                          </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="box-footer">
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-BEProject">
                  Show Tabular form
                </button>
              </div>
            </div>
          {% endif %}

          <hr/>
          {% if hackathons %}
            <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Hackathons</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="modal fade" id="modal-hackathon">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span></button>
                                 <h4 class="modal-title">Hackathons</h4>
                                 <button id="dlhackathon" type="button" class="btn btn-primary pull-right">Download</button>
                              </div>
                              <div class="modal-body">
                                <div class="box">
                                   <!-- /.box-header -->
                                   <div class="box-body">
                                      <table id="Hackathontable" class="table table-bordered table-hover">
                                         <thead>
                                            <tr>
                                               <th>Competition Name</th>
                                               <th>Sap Id Of Student</th>
                                               <th>Description</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                          {% for project in projects %}
                                            <tr>
                                               <td>{{ hackathon.CompetitionName }}</td>
                                               <td>{{ hackathon.student_profile.Sap_Id }}</td>
                                               <td>{{ hackathon.ProjDesc }}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                         <tfoot>
                                            <tr>
                                              <th>Competition Name</th>
                                              <th>Sap Id Of Student</th>
                                              <th>Description</th>
                                            </tr>
                                         </tfoot>
                                      </table>
                                      <br/>
                                   </div>
                                   <!-- /.box-body -->
                                </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                            <!-- /.modal-dialog -->
                    </div>
                    {% for hackathon in hackathons %}
                      <div class="col-md-4">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-userser-2">
                          <!-- Add the bg color to the header using any of the bg-* classes -->
                          <div class="pad widget-user-header bg-yellow">
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">{{ hackathon.student_profile.Sap_Id }}</h3>
                            <h5 class="widget-user-desc">{{ hackathon.CompetitionName }}</h5>
                          </div>
                          <div class="box-footer no-padding">
                            <ul class="pad nav nav-stacked">
                              <li>{{ hackathon.URL }}</li>
                              <li>{{ project.ProjDesc }}</li>
                              <li><a href="{% url 'user_profile:hackathon' hackathon.id  %}">View</a></li>
                            </ul>
                          </div>
                        </div>
                        <!-- /.widget-user -->
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-hackathon">
                    Show Tabular form
                  </button>
                </div>
            </div>
          {% endif %}

          <hr/>
          {% if internships %}
            <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Internships</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="modal fade" id="modal-intern">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span></button>
                                 <h4 class="modal-title">Internships</h4>
                                 <button id="dlintern" type="button" class="btn btn-primary pull-right">Download</button>
                              </div>
                              <div class="modal-body">
                                <div class="box">
                                   <!-- /.box-header -->
                                   <div class="box-body">
                                      <table id="Internshiptable" class="table table-bordered table-hover">
                                         <thead>
                                            <tr>
                                               <th>Organization Name</th>
                                               <th>Sap Id Of Student</th>
                                               <th>Role/Position</th>
                                               <th>Location</th>
                                               <th>Description</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                          {% for internship in internships %}
                                            <tr>
                                               <td>{{ internship.company }}</td>
                                               <td>{{ internship.employee.Sap_Id }}</td>
                                               <td>{{ internship.Position }}</td>
                                               <td>{{ internship.Loc }}</td>
                                               <td>{{ internship.desc }}</td>
                                            </tr>
                                          {% endfor %}
                                         </tbody>
                                         <tfoot>
                                            <tr>
                                               <th>Organization Name</th>
                                               <th>Sap Id Of Student</th>
                                               <th>Role/Position</th>
                                               <th>Location</th>
                                               <th>Description</th>
                                            </tr>
                                         </tfoot>
                                      </table>
                                      <br/>
                                   </div>
                                   <!-- /.box-body -->
                                </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                            <!-- /.modal-dialog -->
                    </div>
                    {% for internship in internships %}
                      <div class="col-md-4">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-userser-2">
                          <!-- Add the bg color to the header using any of the bg-* classes -->
                          <div class="pad widget-user-header bg-yellow">
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">{{ internship.employee.Sap_Id }}</h3>
                            <h5 class="widget-user-desc">{{ internship.company }}</h5>
                          </div>
                          <div class="box-footer no-padding">
                            <ul class="pad nav nav-stacked">
                              <li>{{ internship.Position }}</li>
                              <li> {{ internship.Loc }}</li>
                              <li>{{ internship.desc }}</li>
                              <li><a href="{% url 'user_profile:internship' internship.id  %}">View</a></li>
                            </ul>
                          </div>
                        </div>
                        <!-- /.widget-user -->
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-intern">
                    Show Tabular form
                  </button>
                </div>
            </div>
          {% endif %}

          <hr/>
          {% if committees %}
            <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Committees</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="modal fade" id="modal-committee">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span></button>
                                 <h4 class="modal-title">Committees</h4>
                                 <button id="dlcommittee" type="button" class="btn btn-primary pull-right">Download</button>
                              </div>
                              <div class="modal-body">
                                <div class="box">
                                   <!-- /.box-header -->
                                   <div class="box-body">
                                      <table id="CommitteeTable" class="table table-bordered table-hover">
                                         <thead>
                                            <tr>
                                               <th>Committee Name</th>
                                               <th>Sap Id Of Student</th>
                                               <th>Role/Position</th>
                                               <th>Description</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                          {% for internship in internships %}
                                            <tr>
                                               <td>{{ committee.OrganisationName }}</td>
                                               <td>{{ committee.employee.Sap_Id }}</td>
                                               <td>{{ committee.YourPosition }}</td>
                                               <td>{{ committee.Desc }}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                         <tfoot>
                                            <tr>
                                               <th>Committee Name</th>
                                               <th>Sap Id Of Student</th>
                                               <th>Role/Position</th>
                                               <th>Description</th>
                                            </tr>
                                         </tfoot>
                                      </table>
                                      <br/>
                                   </div>
                                   <!-- /.box-body -->
                                </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                            <!-- /.modal-dialog -->
                    </div>
                    {% for committee in committees %}
                      <div class="col-md-4">
                          <!-- Widget: user widget style 1 -->
                          <div class="box box-widget widget-userser-2">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="pad widget-user-header bg-yellow">
                              <!-- /.widget-user-image -->
                              <h3 class="widget-user-username">{{ committee.employee.Sap_Id }}</h3>
                              <h5 class="widget-user-desc">{{ committee.OrganisationName }}</h5>
                            </div>
                            <div class="box-footer no-padding">
                              <ul class="pad nav nav-stacked">
                                <li>{{ committee.YourPosition }}</li>
                                <li>{{ committee.Desc }}</li>
                                <li><a href="{% url 'user_profile:committee' committee.id  %}">View</a></li>
                              </ul>
                            </div>
                          </div>
                          <!-- /.widget-user -->
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-committee">
                    Show Tabular form
                  </button>
                </div>
            </div>
          {% endif %}

          <hr/>
          {% if researchpapers %}
            <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Research Paper</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="modal fade" id="modal-researchpaper">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span></button>
                                 <h4 class="modal-title">Research Papers</h4>
                                 <button id="dlresearch" type="button" class="btn btn-primary pull-right">Download</button>
                              </div>
                              <div class="modal-body">
                                <div class="box">
                                   <!-- /.box-header -->
                                   <div class="box-body">
                                      <table id="ResearchTable" class="table table-bordered table-hover">
                                         <thead>
                                            <tr>
                                               <th>Committee Name</th>
                                               <th>Sap Id Of Student</th>
                                               <th>Role/Position</th>
                                               <th>Description</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                          {% for internship in internships %}
                                            <tr>
                                               <td>{{ researchpaper.Title }}</td>
                                               <td>{{ researchpaper.student.Sap_Id }}</td>
                                               <td>{{ researchpaper.Publication }}</td>
                                               <td>{{ researchpaper.Desc }}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                         <tfoot>
                                            <tr>
                                               <th>Research Paper Ttile</th>
                                               <th>Sap Id Of Student</th>
                                               <th>Publication</th>
                                               <th>Description</th>
                                            </tr>
                                         </tfoot>
                                      </table>
                                      <br/>
                                   </div>
                                   <!-- /.box-body -->
                                </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                            <!-- /.modal-dialog -->
                    </div>

                    {% for researchpaper in researchpapers %}
                      <div class="col-md-4">
                          <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-userser-2">
                          <!-- Add the bg color to the header using any of the bg-* classes -->
                          <div class="pad widget-user-header bg-yellow">
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">{{ researchpaper.student.Sap_Id }}</h3>
                            <h5 class="widget-user-desc">{{ researchpaper.Title }}</h5>
                          </div>
                          <div class="box-footer no-padding">
                            <ul class="pad nav nav-stacked">
                              <li>{{ researchpaper.Publication }}</li>
                              <li> {{ researchpaper.LinkToPaper }}</li>
                              <li>{{ researchpaper.Desc }}</li>
                              <li><a href="{% url 'user_profile:researchpaper' researchpaper.id  %}">View</a></li>
                            </ul>
                          </div>
                        </div>
                          <!-- /.widget-user -->
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-researchpaper">
                    Show Tabular form
                  </button>
                </div>
            </div>
          {% endif %}

          <hr/>
          {% if extracurricular %}
            <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Extra Curricular</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="modal fade" id="modal-extracurricular">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span></button>
                                 <h4 class="modal-title">Extra Curricular</h4>
                                 <button id="dlextracurricular" type="button" class="btn btn-primary pull-right">Download</button>
                              </div>
                              <div class="modal-body">
                                <div class="box">
                                   <!-- /.box-header -->
                                   <div class="box-body">
                                      <table id="ExtracurricularTable" class="table table-bordered table-hover">
                                         <thead>
                                            <tr>
                                               <th>Activity Name</th>
                                               <th>Sap Id Of Student</th>
                                               <th>Achievements</th>
                                               <th>Description</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                          {% for internship in internships %}
                                            <tr>
                                               <td>{{ extra.name }}</td>
                                               <td>{{ extra.student.Sap_Id }}</td>
                                               <td>{{ extra.achievements }}</td>
                                               <td>{{ extra.desc }}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                         <tfoot>
                                            <tr>
                                               <th>Activity Name</th>
                                               <th>Sap Id Of Student</th>
                                               <th>Achievements</th>
                                               <th>Description</th>
                                            </tr>
                                         </tfoot>
                                      </table>
                                      <br/>
                                   </div>
                                   <!-- /.box-body -->
                                </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                            <!-- /.modal-dialog -->
                    </div>

                    {% for extra in extracurricular %}
                      <div class="col-md-4">
                          <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-userser-2">
                          <!-- Add the bg color to the header using any of the bg-* classes -->
                          <div class="pad widget-user-header bg-yellow">
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">{{ extra.student.Sap_Id }}</h3>
                            <h5 class="widget-user-desc">{{ extra.name }}</h5>
                          </div>
                          <div class="box-footer no-padding">
                            <ul class="pad nav nav-stacked">
                              <li>{{ extra.achievements }}</li>
                              <li>{{ extra.desc }}</li>
                              <li><a href="{% url 'user_profile:extracurricular' extra.id  %}">View</a></li>
                            </ul>
                          </div>
                        </div>
                        <!-- /.widget-user -->
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-extracurricular">
                    Show Tabular form
                  </button>
                </div>
            </div>
          {% endif %}
      </section>
    <!-- /.content -->
{% endblock %}
<!-- ./wrapper -->
{% block js %}
<!-- iCheck for checkboxes and radio inputs -->
<script src="{% static "/plugins/iCheck/icheck.min.js" %}"></script>

<script src="{% static "/build/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "/build/js/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "/build/js/tabletocsv.js" %}"></script>
<script>
  $(function () {

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })
});

</script>
<script>
  $("#dl").click(function(){
    //$("#tab").table2csv('output', {appendTo: '#out'});
    $("#studenttable").table2csv();
  })
  $("#dlProj").click(function(){
    //$("#tab").table2csv('output', {appendTo: '#out'});
    $("#projtable").table2csv();
  })
  $("#dlBEProj").click(function(){
    //$("#tab").table2csv('output', {appendTo: '#out'});
    $("#BEprojtable").table2csv();
  })
  $("#dlhackathon").click(function(){
    //$("#tab").table2csv('output', {appendTo: '#out'});
    $("#Hackathontable").table2csv();
  })
  $("#dlresearch").click(function(){
    //$("#tab").table2csv('output', {appendTo: '#out'});
    $("#ResearchTable").table2csv();
  })
  $("#dlcommittee").click(function(){
    //$("#tab").table2csv('output', {appendTo: '#out'});
    $("#CommitteeTable").table2csv();
  })
  $("#dlextracurricular").click(function(){
    //$("#tab").table2csv('output', {appendTo: '#out'});
    $("#ExtracurricularTable").table2csv();
  })
  $("#dlintern").click(function(){
    //$("#tab").table2csv('output', {appendTo: '#out'});
    $("#Internshiptable").table2csv();
  })
</script>

{% endblock %}
