{% extends 'base.html' %}
{% load static %}

{% block css %}
<title>Notifications</title>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-static-top">
  <!-- Sidebar toggle button-->

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->

          <span class="hidden-xs">{{ teacher.first_name }} {{ teacher.last_name }} </span>

        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">

            <p>
              {{ teacher.Sap_Id }}
            </p>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="{% url 'user_profile:teacher_dashboard' %}" class="btn btn-default btn-flat">Dashboard</a>
            </div>
            <div class="pull-left">
              <a href="{% url 'user_profile:student_list' %}" class="btn btn-default btn-flat">Search</a>
            </div>
            <div class="pull-left">
              <a href="{% url 'user_profile:logout_teacher' %}" class="btn btn-default btn-flat">Sign out</a>
            </div>
          </li>
        </ul>
      </li>
      <!-- Control Sidebar Toggle Button -->
      <!-- <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li> -->
    </ul>
  </div>
</nav>
{% endblock %}

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Notifications
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-2">

      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Folders</h3>

          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li id="s">
              <a style="cursor: pointer;" Onclick="students()"><i class="fa fa-user"></i> Student List
              </a>
            </li>
            <li id="i">
              <a style="cursor: pointer;" Onclick="internship()"><i class="fa fa-inbox"></i> Internships
              </a>
            </li>
            <li id="p">
              <a style="cursor: pointer;" Onclick="projects()"><i class="fa fa-puzzle-piece"></i>Projects
              </a>
            </li>
            <li id="e">
              <a style="cursor: pointer;" Onclick="extra()"><i class="fa fa-coffee"></i>Extra-Curricular
              </a>
            </li>
            <li id="b">
              <a style="cursor: pointer;" Onclick="beprojects()"><i class="fa fa-server"></i>BE Projects
              </a>
            </li>
            <li id="g">
              <a style="cursor: pointer;" Onclick="grades()"><i class="fa fa-pie-chart"></i>Grades
              </a>
            </li>
            <li id="r">
              <a style="cursor: pointer;" Onclick="research()"><i class="fa fa-paste"></i>Research Papers
              </a>
            </li>
            <li id="h">
              <a style="cursor: pointer;" Onclick="hackathons()"><i class="fa fa-trophy"></i>Hackathons
              </a>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
    <div id="Student" class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Students<a href="{% url 'user_profile:all-excel' %}" class="btn btn-primary btn-block btn-flat">Download Excel</a></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student SAP and Name</th>
                  <th class="mailbox-name">Profile Link</th>
                </thead>
                {% for student in students %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{ student.Sap_Id }} - {{ student.first_name }} {{ student.last_name }}</td>
                  <td class="mailbox-name"><a href="{% url 'user_profile:student_profile' student.id %}">View
                      Profile</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
    </div>

    <div id="Internship" class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Pending Internships</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Company</th>
                  <th class="mailbox-name">Position</th>
                  <th class="mailbox-name">Duration</th>
                  <th class="mailbox-number">Total Hours</th>
                  <th class="mailbox-name">Stipend</th>
                  <th class="mailbox-name">Certificate</th>
                  <th class="mailbox-name">Offer Letter</th>
                  <th class="mailbox-name">Evaluation Report (Mentor)</th>
                  <th class="mailbox-name">Evaluation Report (Supervisor)</th>
                  <th class="mailbox-name">Evaluation Report (Self)</th>
                  <th class="mailbox-name">Action</th>
                </thead>
                {% for internship in internship_pending %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{internship.employee.Sap_Id}} - {{internship.employee.first_name}}
                    {{internship.employee.last_name}}</td>
                  <td class="mailbox-name">{{ internship.company }}</td>
                  <td class="mailbox-name">{{ internship.Position }}</td>
                  <td class="mailbox-name">{{ internship.From }} - {{ internship.To }}</td>
                  <td class="mailbox-number">{{ internship.total_hours }}</td>
                  <td class="mailbox-name">{{ internship.stipend }}</td>
                  {% ifequal internship.Certificate "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.Certificate.url}}">Certificate URL</a>
                  </td>
                  {% endifequal %}
                  {% ifequal internship.offer_letter "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.offer_letter.url}}">Offer Letter
                      URL</a></td>
                  {% endifequal %}
                  {% ifequal internship.evaluation_report_mentor "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.evaluation_report_mentor.url}}">Mentor
                      Evaluation URL</a></td>
                  {% endifequal %}
                  {% ifequal internship.evaluation_report_supervisor "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank"
                      href="{{internship.evaluation_report_supervisor.url}}">Supervisor Evaluation URL</a></td>
                  {% endifequal %}
                  {% ifequal internship.evaluation_report_self "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.evaluation_report_self.url}}">Self
                      Evaluation URL</a></td>
                  {% endifequal %}
                  <td class="mailbox-name">
                    <a style="color:green" href="{% url 'user_profile:iapproved' internship.id %}"><i class="fa fa-check" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a style="color:red" href="{% url 'user_profile:irejected' internship.id %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Accepted Internships</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Company</th>
                  <th class="mailbox-name">Position</th>
                  <th class="mailbox-name">Duration</th>
                  <th class="mailbox-number">Total Hours</th>
                  <th class="mailbox-name">Stipend</th>
                  <th class="mailbox-name">Certificate</th>
                  <th class="mailbox-name">Offer Letter</th>
                  <th class="mailbox-name">Evaluation Report (Mentor)</th>
                  <th class="mailbox-name">Evaluation Report (Supervisor)</th>
                  <th class="mailbox-name">Evaluation Report (Self)</th>
                </thead>
                {% for internship in internship_approved %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{internship.employee.Sap_Id}} - {{internship.employee.first_name}}
                    {{internship.employee.last_name}}</td>
                  <td class="mailbox-name">{{ internship.company }}</td>
                  <td class="mailbox-name">{{ internship.Position }}</td>
                  <td class="mailbox-name">{{ internship.From }} - {{ internship.To }}</td>
                  <td class="mailbox-number">{{ internship.total_hours }}</td>
                  <td class="mailbox-name">{{ internship.stipend }}</td>
                  {% ifequal internship.Certificate "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.Certificate.url}}">Certificate URL</a>
                  </td>
                  {% endifequal %}
                  {% ifequal internship.offer_letter "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.offer_letter.url}}">Offer Letter
                      URL</a></td>
                  {% endifequal %}
                  {% ifequal internship.evaluation_report_mentor "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.evaluation_report_mentor.url}}">Mentor
                      Evaluation URL</a></td>
                  {% endifequal %}
                  {% ifequal internship.evaluation_report_supervisor "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank"
                      href="{{internship.evaluation_report_supervisor.url}}">Supervisor Evaluation URL</a></td>
                  {% endifequal %}
                  {% ifequal internship.evaluation_report_self "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.evaluation_report_self.url}}">Self
                      Evaluation URL</a></td>
                  {% endifequal %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Rejected Internships</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Company</th>
                  <th class="mailbox-name">Position</th>
                  <th class="mailbox-name">Duration</th>
                  <th class="mailbox-number">Total Hours</th>
                  <th class="mailbox-name">Stipend</th>
                  <th class="mailbox-name">Certificate</th>
                  <th class="mailbox-name">Offer Letter</th>
                  <th class="mailbox-name">Evaluation Report (Mentor)</th>
                  <th class="mailbox-name">Evaluation Report (Supervisor)</th>
                  <th class="mailbox-name">Evaluation Report (Self)</th>
                </thead>
                {% for internship in internship_rejected %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{internship.employee.Sap_Id}} - {{internship.employee.first_name}}
                    {{internship.employee.last_name}}</td>
                  <td class="mailbox-name">{{ internship.company }}</td>
                  <td class="mailbox-name">{{ internship.Position }}</td>
                  <td class="mailbox-name">{{ internship.From }} - {{ internship.To }}</td>
                  <td class="mailbox-number">{{ internship.total_hours }}</td>
                  <td class="mailbox-name">{{ internship.stipend }}</td>
                  {% ifequal internship.Certificate "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.Certificate.url}}">Certificate URL</a>
                  </td>
                  {% endifequal %}
                  {% ifequal internship.offer_letter "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.offer_letter.url}}">Offer Letter
                      URL</a></td>
                  {% endifequal %}
                  {% ifequal internship.evaluation_report_mentor "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.evaluation_report_mentor.url}}">Mentor
                      Evaluation URL</a></td>
                  {% endifequal %}
                  {% ifequal internship.evaluation_report_supervisor "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank"
                      href="{{internship.evaluation_report_supervisor.url}}">Supervisor Evaluation URL</a></td>
                  {% endifequal %}
                  {% ifequal internship.evaluation_report_self "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{internship.evaluation_report_self.url}}">Self
                      Evaluation URL</a></td>
                  {% endifequal %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
    </div>

    <div id="Grades" class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Grades</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Average GPA (As of Now)</th>
                  <th class="mailbox-name">SEM 1 Marksheet</th>
                  <th class="mailbox-name">SEM 2 Marksheet</th>
                  <th class="mailbox-name">SEM 3 Marksheet</th>
                  <th class="mailbox-name">SEM 4 Marksheet</th>
                  <th class="mailbox-name">SEM 5 Marksheet</th>
                  <th class="mailbox-name">SEM 6 Marksheet</th>
                  <th class="mailbox-name">SEM 7 Marksheet</th>
                  <th class="mailbox-name">SEM 8 Marksheet</th>
                </thead>
                {% for education,gpa in grades %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{education.student_profile.Sap_Id}} - {{education.student_profile.first_name}}
                    {{education.student_profile.last_name}}</td>
                  <td class="mailbox-name">{{ gpa }}</td>
                  {% ifequal education.sem1_marksheet "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{education.sem1_marksheet.url}}">SEM 1</a>
                  </td>
                  {% endifequal %}
                  {% ifequal education.sem2_marksheet "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{education.sem2_marksheet.url}}">SEM 2</a>
                  </td>
                  {% endifequal %}
                  {% ifequal education.sem3_marksheet "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{education.sem3_marksheet.url}}">SEM 3</a>
                  </td>
                  {% endifequal %}
                  {% ifequal education.sem4_marksheet "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{education.sem4_marksheet.url}}">SEM 4</a>
                  </td>
                  {% endifequal %}
                  {% ifequal education.sem5_marksheet "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{education.sem5_marksheet.url}}">SEM 5</a>
                  </td>
                  {% endifequal %}
                  {% ifequal education.sem6_marksheet "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{education.sem6_marksheet.url}}">SEM 6</a>
                  </td>
                  {% endifequal %}
                  {% ifequal education.sem7_marksheet "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{education.sem7_marksheet.url}}">SEM 7</a>
                  </td>
                  {% endifequal %}
                  {% ifequal education.sem8_marksheet "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{education.sem8_marksheet.url}}">SEM 8</a>
                  </td>
                  {% endifequal %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <!-- /. box -->
    </div>

    <div id="Projects" class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Pending Projects</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Project Name</th>
                  <th class="mailbox-name">Project URL</th>
                  <th class="mailbox-name">Project Description</th>
                  <th class="mailbox-name">Under Teacher</th>
                  <th class="mailbox-name">Skill</th>
                  <th class="mailbox-name">Action</th>
                </thead>
                {% for project in project_pending %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{project.student_profile.Sap_Id}} - {{project.student_profile.first_name}}
                    {{project.student_profile.last_name}}</td>
                  <td class="mailbox-name">{{ project.ProjName }}</td>
                  <td class="mailbox-name"><a href="{{ project.ProjURL }}">{{ project.ProjURL }}</a></td>
                  <td class="mailbox-name">{{ project.ProjDesc }}</td>
                  <td class="mailbox-name">{{ project.projectUnderTeacher.Sap_Id }} - {{ project.projectUnderTeacher.first_name }} {{ project.projectUnderTeacher.last_name }}</td>
                  <td class="mailbox-name">{{ project.skill }}</td>
                  <td class="mailbox-name">
                    <a style="color:green" href="{% url 'user_profile:project-approved' project.id %}"><i class="fa fa-check" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a style="color:red" href="{% url 'user_profile:project-rejected' project.id %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Accepted Projects</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Project Name</th>
                  <th class="mailbox-name">Project URL</th>
                  <th class="mailbox-name">Project Description</th>
                  <th class="mailbox-name">Under Teacher</th>
                  <th class="mailbox-name">Skill</th>
                </thead>
                {% for project in project_approved %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{project.student_profile.Sap_Id}} - {{project.student_profile.first_name}}
                    {{project.student_profile.last_name}}</td>
                  <td class="mailbox-name">{{ project.ProjName }}</td>
                  <td class="mailbox-name"><a href="{{ project.ProjURL }}">{{ project.ProjURL }}</a></td>
                  <td class="mailbox-name">{{ project.ProjDesc }}</td>
                  <td class="mailbox-name">{{ project.projectUnderTeacher.Sap_Id }} - {{ project.projectUnderTeacher.first_name }} {{ project.projectUnderTeacher.last_name }}</td>
                  <td class="mailbox-name">{{ project.skill }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Rejected Projects</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Project Name</th>
                  <th class="mailbox-name">Project URL</th>
                  <th class="mailbox-name">Project Description</th>
                  <th class="mailbox-name">Under Teacher</th>
                  <th class="mailbox-name">Skill</th>
                </thead>
                {% for project in project_rejected %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{project.student_profile.Sap_Id}} - {{project.student_profile.first_name}}
                    {{project.student_profile.last_name}}</td>
                  <td class="mailbox-name">{{ project.ProjName }}</td>
                  <td class="mailbox-name"><a target="_blank" href="{{ project.ProjURL }}">{{ project.ProjURL }}</a></td>
                  <td class="mailbox-name">{{ project.ProjDesc }}</td>
                  <td class="mailbox-name">{{ project.projectUnderTeacher.Sap_Id }} - {{ project.projectUnderTeacher.first_name }} {{ project.projectUnderTeacher.last_name }}</td>
                  <td class="mailbox-name">{{ project.skill }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
    </div>

    <div id="Research" class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Pending Research Request</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Title</th>
                  <th class="mailbox-name">Publication Date</th>
                  <th class="mailbox-name">Description</th>
                  <th class="mailbox-name">Link to Paper</th>
                  <th class="mailbox-name">Paper ID</th>
                  <th class="mailbox-name">ISBN</th>
                  <th class="mailbox-name">ISSN</th>
                  <th class="mailbox-name">Proof of Submission</th>
                  <th class="mailbox-name">Project Mentor</th>
                  <th class="mailbox-name">Type</th>
                  <th class="mailbox-name">Duration</th>
                  <th class="mailbox-name">Total Hours (Approx)</th>
                  <th class="mailbox-name">Action</th>
                </thead>
                {% for research_paper in ResearchPaper_pending %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{research_paper.student.Sap_Id}} - {{research_paper.student.first_name}}
                    {{research_paper.student.last_name}}</td>
                  <td class="mailbox-name">{{ research_paper.Title }}</td>
                  <td class="mailbox-name">{{ research_paper.DateOfPublication }}</td>
                  <td class="mailbox-name">{{ research_paper.Desc }}/td>
                  <td class="mailbox-name"><a target="_blank" href="{{ research_paper.LinkToPaper }}">{{ research_paper.LinkToPaper }}</a></td>
                  <td class="mailbox-name">{{ research_paper.Title }}</td>
                  <td class="mailbox-name">{{ research_paper.isbn }}</td>
                  <td class="mailbox-name">{{ research_paper.issn }}</td>
                  {% ifequal internship.Certificate "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{ research_paper.proof_of_submission.url }}">Proof of Submission</a>
                  </td>
                  {% endifequal %}
                  <td class="mailbox-name">{{ research_paper.project_mentor }}</td>
                  <td class="mailbox-name">{{ research_paper.type }}</td>
                  <td class="mailbox-name">{{ research_paper.duration_of_project }}</td>
                  <td class="mailbox-name">{{ research_paper.total_hours }}</td>
                  <td class="mailbox-name">
                    <a style="color:green" href="{% url 'user_profile:research-paper-approved' research_paper.id %}"><i class="fa fa-check" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a style="color:red" href="{% url 'user_profile:research-paper-rejected' research_paper.id %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Approved Research Request</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Title</th>
                  <th class="mailbox-name">Publication Date</th>
                  <th class="mailbox-name">Description</th>
                  <th class="mailbox-name">Link to Paper</th>
                  <th class="mailbox-name">Paper ID</th>
                  <th class="mailbox-name">ISBN</th>
                  <th class="mailbox-name">ISSN</th>
                  <th class="mailbox-name">Proof of Submission</th>
                  <th class="mailbox-name">Project Mentor</th>
                  <th class="mailbox-name">Type</th>
                  <th class="mailbox-name">Duration</th>
                  <th class="mailbox-name">Total Hours (Approx)</th>
                </thead>
                {% for research_paper in ResearchPaper_approved %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{research_paper.student.Sap_Id}} - {{research_paper.student.first_name}}
                    {{research_paper.student.last_name}}</td>
                  <td class="mailbox-name">{{ research_paper.Title }}</td>
                  <td class="mailbox-name">{{ research_paper.DateOfPublication }}</td>
                  <td class="mailbox-name">{{ research_paper.Desc }}/td>
                  <td class="mailbox-name"><a target="_blank" href="{{ research_paper.LinkToPaper }}">{{ research_paper.LinkToPaper }}</a></td>
                  <td class="mailbox-name">{{ research_paper.Title }}</td>
                  <td class="mailbox-name">{{ research_paper.isbn }}</td>
                  <td class="mailbox-name">{{ research_paper.issn }}</td>
                  {% ifequal internship.Certificate "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{ research_paper.proof_of_submission.url }}">Proof of Submission</a>
                  </td>
                  {% endifequal %}
                  <td class="mailbox-name">{{ research_paper.project_mentor }}</td>
                  <td class="mailbox-name">{{ research_paper.type }}</td>
                  <td class="mailbox-name">{{ research_paper.duration_of_project }}</td>
                  <td class="mailbox-name">{{ research_paper.total_hours }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Rejected Research Request</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Title</th>
                  <th class="mailbox-name">Publication Date</th>
                  <th class="mailbox-name">Description</th>
                  <th class="mailbox-name">Link to Paper</th>
                  <th class="mailbox-name">Paper ID</th>
                  <th class="mailbox-name">ISBN</th>
                  <th class="mailbox-name">ISSN</th>
                  <th class="mailbox-name">Proof of Submission</th>
                  <th class="mailbox-name">Project Mentor</th>
                  <th class="mailbox-name">Type</th>
                  <th class="mailbox-name">Duration</th>
                  <th class="mailbox-name">Total Hours (Approx)</th>
                </thead>
                {% for research_paper in ResearchPaper_rejected %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{research_paper.student.Sap_Id}} - {{research_paper.student.first_name}}
                    {{research_paper.student.last_name}}</td>
                  <td class="mailbox-name">{{ research_paper.Title }}</td>
                  <td class="mailbox-name">{{ research_paper.DateOfPublication }}</td>
                  <td class="mailbox-name">{{ research_paper.Desc }}/td>
                  <td class="mailbox-name"><a target="_blank" href="{{ research_paper.LinkToPaper }}">{{ research_paper.LinkToPaper }}</a></td>
                  <td class="mailbox-name">{{ research_paper.Title }}</td>
                  <td class="mailbox-name">{{ research_paper.isbn }}</td>
                  <td class="mailbox-name">{{ research_paper.issn }}</td>
                  {% ifequal internship.Certificate "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{ research_paper.proof_of_submission.url }}">Proof of Submission</a>
                  </td>
                  {% endifequal %}
                  <td class="mailbox-name">{{ research_paper.project_mentor }}</td>
                  <td class="mailbox-name">{{ research_paper.type }}</td>
                  <td class="mailbox-name">{{ research_paper.duration_of_project }}</td>
                  <td class="mailbox-name">{{ research_paper.total_hours }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
    </div>

    <div id="Extra" class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Extra Curricular</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Name</th>
                  <th class="mailbox-name">Description</th>
                  <th class="mailbox-name">Achievements</th>
                  <th class="mailbox-name">Date</th>
                  <th class="mailbox-name">Certificate</th>
                </thead>
                {% for e in extra_curricular %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{e.student.Sap_Id}} - {{e.student.first_name}}
                    {{e.student.last_name}}</td>
                  <td class="mailbox-name">{{ e.name }}</td>
                  <td class="mailbox-name">{{ e.desc }}</td>
                  <td class="mailbox-name">{{ e.achievements }}</td>
                  <td class="mailbox-name">{{ e.date }}</td>
                  {% ifequal e.Certificate.url "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{e.Certificate.url}}">Certificate</a>
                  </td>
                  {% endifequal %}
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <!-- /. box -->
    </div>

    <div id="Hackathons" class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Pending Hackathon Requests</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Competition Name</th>
                  <th class="mailbox-name">Duration</th>
                  <th class="mailbox-name">Hackathon Proj. Description</th>
                  <th class="mailbox-number">No. of Hours</th>
                  <th class="mailbox-name">Proj. URL</th>
                  <th class="mailbox-name">Github URL</th>
                  <th class="mailbox-name">Action</th>
                </thead>
                {% for hackathon in Hackathon_pending %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{hackathon.student_profile.Sap_Id}} - {{hackathon.student_profile.first_name}}
                    {{hackathon.student_profile.last_name}}</td>
                  <td class="mailbox-name">{{ hackathon.CompetitionName }}</td>
                  <td class="mailbox-name">{{ hackathon.StartDate }} - {{ hackathon.EndDate }}</td>
                  <td class="mailbox-name">{{ hackathon.Desc }}</td>
                  <td class="mailbox-number">{{ hackathon.total_no_of_hours }}</td>
                  <td class="mailbox-name"><a target="_blank" href="{{ hackathon.URL }}">{{ hackathon.URL }}</a></td>
                  <td class="mailbox-name"><a target="_blank" href="{{ hackathon.Github_url }}">{{ hackathon.Github_url }}</a></td>
                  <td class="mailbox-name">
                    <a style="color:green" href="{% url 'user_profile:hackathon-approved' hackathon.id %}"><i class="fa fa-check" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a style="color:red" href="{% url 'user_profile:hackathon-rejected' hackathon.id %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Approved Hackathon Requests</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Competition Name</th>
                  <th class="mailbox-name">Duration</th>
                  <th class="mailbox-name">Hackathon Proj. Description</th>
                  <th class="mailbox-number">No. of Hours</th>
                  <th class="mailbox-name">Proj. URL</th>
                  <th class="mailbox-name">Github URL</th>
                </thead>
                {% for hackathon in Hackathon_approved %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{hackathon.student_profile.Sap_Id}} - {{hackathon.student_profile.first_name}}
                    {{hackathon.student_profile.last_name}}</td>
                  <td class="mailbox-name">{{ hackathon.CompetitionName }}</td>
                  <td class="mailbox-name">{{ hackathon.StartDate }} - {{ hackathon.EndDate }}</td>
                  <td class="mailbox-name">{{ hackathon.Desc }}</td>
                  <td class="mailbox-number">{{ hackathon.total_no_of_hours }}</td>
                  <td class="mailbox-name"><a target="_blank" href="{{ hackathon.URL }}">{{ hackathon.URL }}</a></td>
                  <td class="mailbox-name"><a target="_blank" href="{{ hackathon.Github_url }}">{{ hackathon.Github_url }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Rejected Hackathon Requests</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Competition Name</th>
                  <th class="mailbox-name">Duration</th>
                  <th class="mailbox-name">Hackathon Proj. Description</th>
                  <th class="mailbox-number">No. of Hours</th>
                  <th class="mailbox-name">Proj. URL</th>
                  <th class="mailbox-name">Github URL</th>
                </thead>
                {% for hackathon in Hackathon_rejected %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{hackathon.student_profile.Sap_Id}} - {{hackathon.student_profile.first_name}}
                    {{hackathon.student_profile.last_name}}</td>
                  <td class="mailbox-name">{{ hackathon.CompetitionName }}</td>
                  <td class="mailbox-name">{{ hackathon.StartDate }} - {{ hackathon.EndDate }}</td>
                  <td class="mailbox-name">{{ hackathon.Desc }}</td>
                  <td class="mailbox-number">{{ hackathon.total_no_of_hours }}</td>
                  <td class="mailbox-name"><a target="_blank" href="{{ hackathon.URL }}">{{ hackathon.URL }}</a></td>
                  <td class="mailbox-name"><a target="_blank" href="{{ hackathon.Github_url }}">{{ hackathon.Github_url }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <!-- /. box -->
    </div>

    <div id="BE" class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Pending BE Projects</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Project Name</th>
                  <th class="mailbox-name">Project URL</th>
                  <th class="mailbox-name">Project Description</th>
                  <th class="mailbox-name">Under Teacher</th>
                  <th class="mailbox-name">Project Report</th>
                  <th class="mailbox-name">Action</th>
                </thead>
                {% for project in BeProject_pending %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{project.student.Sap_Id}} - {{project.student.first_name}}
                    {{project.student.last_name}}</td>
                  <td class="mailbox-name">{{ project.ProjName }}</td>
                  <td class="mailbox-name"><a href="{{ project.ProjURL }}">{{ project.ProjURL }}</a></td>
                  <td class="mailbox-name">{{ project.ProjDesc }}</td>
                  <td class="mailbox-name">{{ project.projectUnderTeacher.Sap_Id }} - {{ project.projectUnderTeacher.first_name }} {{ project.projectUnderTeacher.last_name }}</td>
                  {% ifequal project.project_report "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{project.project_report.url}}">Report</a>
                  </td>
                  {% endifequal %}
                  <td class="mailbox-name">
                    <a style="color:green" href="{% url 'user_profile:be-project-approved' project.id %}"><i class="fa fa-check" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a style="color:red" href="{% url 'user_profile:be-project-rejected' project.id %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Accepted BE Projects</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Project Name</th>
                  <th class="mailbox-name">Project URL</th>
                  <th class="mailbox-name">Project Description</th>
                  <th class="mailbox-name">Under Teacher</th>
                  <th class="mailbox-name">Project Report</th>
                </thead>
                {% for project in BeProject_approved %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{project.student.Sap_Id}} - {{project.student.first_name}}
                    {{project.student.last_name}}</td>
                  <td class="mailbox-name">{{ project.ProjName }}</td>
                  <td class="mailbox-name"><a href="{{ project.ProjURL }}">{{ project.ProjURL }}</a></td>
                  <td class="mailbox-name">{{ project.ProjDesc }}</td>
                  <td class="mailbox-name">{{ project.projectUnderTeacher.Sap_Id }} - {{ project.projectUnderTeacher.first_name }} {{ project.projectUnderTeacher.last_name }}</td>
                  {% ifequal project.project_report "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{project.project_report.url}}">Report</a>
                  </td>
                  {% endifequal %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Rejected BE Projects</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">

          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <thead>
                  <th class="mailbox-number">Sr. No</th>
                  <th class="mailbox-name">Student</th>
                  <th class="mailbox-name">Project Name</th>
                  <th class="mailbox-name">Project URL</th>
                  <th class="mailbox-name">Project Description</th>
                  <th class="mailbox-name">Under Teacher</th>
                  <th class="mailbox-name">Project Report</th>
                </thead>
                {% for project in BeProject_rejected %}
                <tr>
                  <td class="mailbox-number">{{ forloop.counter }}</td>
                  <td class="mailbox-name">{{project.student.Sap_Id}} - {{project.student.first_name}}
                    {{project.student.last_name}}</td>
                  <td class="mailbox-name">{{ project.ProjName }}</td>
                  <td class="mailbox-name"><a href="{{ project.ProjURL }}">{{ project.ProjURL }}</a></td>
                  <td class="mailbox-name">{{ project.ProjDesc }}</td>
                  <td class="mailbox-name">{{ project.projectUnderTeacher.Sap_Id }} - {{ project.projectUnderTeacher.first_name }} {{ project.projectUnderTeacher.last_name }}</td>
                  {% ifequal project.project_report "" %}
                  <td class="mailbox-name">Not Uploaded</td>
                  {% else %}
                  <td class="mailbox-name"><a target="_blank" href="{{project.project_report.url}}">Report</a>
                  </td>
                  {% endifequal %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
      </div>
      <!-- /. box -->
    </div>

    <!-- /.col -->
  </div>
  <!-- /.row -->
</section> <!-- /.content -->
{% endblock %}

{% block js %}
<script type="text/javascript">
  window.onload = students();

  function students() {
    document.getElementById("s").className="active"
    document.getElementById("i").className=""
    document.getElementById("p").className=""
    document.getElementById("e").className=""
    document.getElementById("g").className=""
    document.getElementById("b").className=""
    document.getElementById("r").className=""
    document.getElementById("h").className=""

    $("#Student").show();
    $("#Internship").hide();
    $("#Projects").hide();
    $("#Extra").hide();
    $("#Grades").hide();
    $("#BE").hide();
    $("#Research").hide();
    $("#Hackathons").hide();
  }

  function internship() {
    document.getElementById("s").className=""
    document.getElementById("i").className="active"
    document.getElementById("p").className=""
    document.getElementById("e").className=""
    document.getElementById("g").className=""
    document.getElementById("b").className=""
    document.getElementById("r").className=""
    document.getElementById("h").className=""

    $("#Student").hide();
    $("#Internship").show();
    $("#Projects").hide();
    $("#Extra").hide();
    $("#Grades").hide();
    $("#BE").hide();
    $("#Research").hide();
    $("#Hackathons").hide();
  }

  function grades() {
    document.getElementById("s").className=""
    document.getElementById("i").className=""
    document.getElementById("p").className=""
    document.getElementById("e").className=""
    document.getElementById("g").className="active"
    document.getElementById("b").className=""
    document.getElementById("r").className=""
    document.getElementById("h").className=""

    $("#Student").hide();
    $("#Internship").hide();
    $("#Projects").hide();
    $("#Extra").hide();
    $("#Grades").show();
    $("#BE").hide();
    $("#Research").hide();
    $("#Hackathons").hide();
  }

  function projects() {
    document.getElementById("s").className=""
    document.getElementById("i").className=""
    document.getElementById("p").className="active"
    document.getElementById("e").className=""
    document.getElementById("g").className=""
    document.getElementById("b").className=""
    document.getElementById("r").className=""
    document.getElementById("h").className=""

    $("#Student").hide();
    $("#Internship").hide();
    $("#Projects").show();
    $("#Extra").hide();
    $("#Grades").hide();
    $("#BE").hide();
    $("#Research").hide();
    $("#Hackathons").hide();
  }

  function beprojects() {
    document.getElementById("s").className=""
    document.getElementById("i").className=""
    document.getElementById("p").className=""
    document.getElementById("e").className=""
    document.getElementById("g").className=""
    document.getElementById("b").className="active"
    document.getElementById("r").className=""
    document.getElementById("h").className=""

    $("#Student").hide();
    $("#Internship").hide();
    $("#Projects").hide();
    $("#Extra").hide();
    $("#Grades").hide();
    $("#BE").show();
    $("#Research").hide();
    $("#Hackathons").hide();
  }

  function research() {
    document.getElementById("s").className=""
    document.getElementById("i").className=""
    document.getElementById("p").className=""
    document.getElementById("e").className=""
    document.getElementById("g").className=""
    document.getElementById("b").className=""
    document.getElementById("r").className="active"
    document.getElementById("h").className=""

    $("#Student").hide();
    $("#Internship").hide();
    $("#Projects").hide();
    $("#Extra").hide();
    $("#Grades").hide();
    $("#BE").hide();
    $("#Research").show();
    $("#Hackathons").hide();
  }

  function extra() {
    document.getElementById("s").className=""
    document.getElementById("i").className=""
    document.getElementById("p").className=""
    document.getElementById("e").className="active"
    document.getElementById("g").className=""
    document.getElementById("b").className=""
    document.getElementById("r").className=""
    document.getElementById("h").className=""

    $("#Student").hide();
    $("#Internship").hide();
    $("#Projects").hide();
    $("#Extra").show();
    $("#Grades").hide();
    $("#BE").hide();
    $("#Research").hide();
    $("#Hackathons").hide();
  }

  function hackathons() {
    document.getElementById("s").className=""
    document.getElementById("i").className=""
    document.getElementById("p").className=""
    document.getElementById("e").className=""
    document.getElementById("g").className=""
    document.getElementById("b").className=""
    document.getElementById("r").className=""
    document.getElementById("h").className="active"

    $("#Student").hide();
    $("#Internship").hide();
    $("#Projects").hide();
    $("#Extra").hide();
    $("#Grades").hide();
    $("#BE").hide();
    $("#Research").hide();
    $("#Hackathons").show();
  }
</script>
{% endblock %}