<html>
    <head>
        <title>Book</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
              <h1>Register</h1>

            <form method='POST'>
            {% csrf_token %}
            SAP ID <input type="text" name="Sap_Id"><br>
            Email <input type="email" name="email"><br>
            Password <input type="password" name="password"><br>
            <input type="submit" name="Submit">
          </form>

          {% if error %}
            <p>{{ error }}</p>
          {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
