<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    Search <input type="text" name="searchany"><br>
    Submit <input type="Submit" name="Submit">
</form>

{%for student in queryset%}
{{student.Sap_Id}}
{%endfor%}

{%for skill in skillset%}
{%for student in skill.studentprofile_set.all%}
{{student.Sap_Id}}
{% endfor %}
{%endfor%}

{%for hackathon in hackathonset%}
<a href="/hackathon/{{hackathon.id}}">{{hackathon.CompetitionName}}</a>

{%for student in hackathon.studentprofile_set.all%}
{{student.Sap_Id}}
{% endfor %}
{%endfor%}

{%for internship in internshipset%}
<a href="/internship/{{internship.id}}">{{internship.company}}</a>
{{internship.employee.Sap_Id}}
{%endfor%}

{%for project in projectset%}
<a href="/project/{{project.id}}">{{project.ProjName}}</a>
{{project.student.Sap_Id}}
{%endfor%}

{%for beproject in beprojectset%}
<a href="/beproject/{{beproject.id}}">{{beproject.ProjName}}</a>
{{beproject.student.Sap_Id}}
{%endfor%}
