<!-- <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        {{ obj.year }} - {{ obj.Sap_Id }}<br />
    {% endfor %}
-->

<form action="/search/" method="POST">
  {% csrf_token %}

<h1>Year</h1>
<input type="checkbox" name="year[]" value="FE">FE<br>
<input type="checkbox" name="year[]" value="SE">SE<br>
<input type="checkbox" name="year[]" value="TE">TE<br>
<input type="checkbox" name="year[]" value="BE">BE<br>



<h1>Skills</h1>
{% for skill in skills %}
<input type="checkbox" name="skills[]" value="{{skill}}">{{skill}}<br>
{% endfor %}

<input type="submit" />
</form>


{% for res in result %}
    {{ res.year }} - {{ res.Sap_Id }}<br />
{% endfor %}
