{% extends '../base.html' %}
{% load static %}

{% block css %}
  <title>Teacher Dashboard</title>
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static "/dist/css/skins/_all-skins.min.css" %}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static "/plugins/iCheck/all.css" %}">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
{% endblock %}

{% block nav %}
<nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->

      <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->

      <span class="hidden-xs">{{ teacher.first_name }} {{ teacher.last_name }} </span>

              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">

                  <p>
                    {{ teacher.Sap_Id }}
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="{% url 'user_profile:student_list' %}" class="btn btn-default btn-flat">Search</a>
                  </div>
                  <div class="pull-left">
                    <a href="{% url 'user_profile:notifs' %}" class="btn btn-default btn-flat">Notifications</a>
                  </div>
                  <div class="pull-left">
                    <a href="{% url 'user_profile:logout_teacher' %}" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <!-- <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li> -->
          </ul>
        </div>
    </nav>
{% endblock %}

  <!-- Google Font -->
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{total_regs}}</h3>

              <p>Total Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ total_intern }}</h3>

              <p>Total Internships</p>
            </div>
            <div class="icon">
              <i class="ion ion-briefcase"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{all_avg_gpa}}</h3>

              <p>Average CGPA</p>
            </div>
            <div class="icon">
              <i class="ion ion-university"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{kt_perc}}</h3>

              <p>% KT</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>

      <h1>
        Charts
        <!-- <small>Preview sample</small> -->
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <!-- AREA CHART -->
          {% if internship_in_months %}
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Internships per month</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="areaChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          {% endif %}
          <!-- /.box -->

          <!-- DONUT CHART -->
          {% if FE_interns or SE_interns or TE_interns or BE_interns %}
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Yearwise Internships</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <canvas id="donutChart" style="height:250px"></canvas>
            </div>
            <!-- /.box-body -->
          </div>
          {% endif %}
          <!-- /.box -->
          {% if FE_gpa.0 or FE_gpa.1 %}
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">FE Average GPA</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="FEAllSemBarChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          {% endif %}
          {% if TE_gpa.0 or TE_gpa.1 or TE_gpa.2 or TE_gpa.3 or TE_gpa.4 or TE_gpa.5 %}
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">TE Average GPA</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="TEAllSemBarChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          {% endif %}
          {% if FE_gpa.0 or SE_gpa.0 or TE_gpa.0 or BE_gpa.0 %}
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Semester 1</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="Sem1BarChart" style="height:250px"></canvas>
              </div>
            </div>
          </div>
          {% endif %}
          {% if SE_gpa.2 or TE_gpa.2 or BE_gpa.2 %}
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Semester 3</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="Sem3BarChart" style="height:250px"></canvas>
              </div>
            </div>
          </div>
          {% endif %}
          {% if TE_gpa.4 or BE_gpa.4 %}
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Semester 5</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="Sem5BarChart" style="height:250px"></canvas>
              </div>
            </div>
          </div>
          {% endif %}
          {% if BE_gpa.6 %}
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Semester 7</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="Sem7BarChart" style="height:250px"></canvas>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
          <!-- LINE CHART -->
          {% if skill1 or skill2 or skill3 %}
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Skills</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="pieChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          {% endif %}
          <!-- /.box -->

          <!-- BAR CHART -->
          {% if avg_gpa %}
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Average GPA</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="barChart" style="height:250px"></canvas>
              </div>
            </div>
          </div>
          {% endif %}
            <!-- /.box-body -->
            {% if SE_gpa.0 or SE_gpa.1 or SE_gpa.2 or SE_gpa.3 or SE_gpa.4 %}
            <div class="box box-success">
              <div class="box-header with-border">
                <h3 class="box-title">SE Average GPA</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="chart">
                  <canvas id="SEAllSemBarChart" style="height:250px"></canvas>
                </div>
              </div>
            </div>
            {% endif %}
            {% if BE_gpa.0 or BE_gpa.1 or BE_gpa.2 or BE_gpa.3 or BE_gpa.4 or BE_gpa.5 or BE_gpa.6 or BE_gpa.7 %}
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">BE Average GPA</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="BEAllSemBarChart" style="height:250px"></canvas>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
              {% endif %}
              {% if FE_gpa.1 or SE_gpa.1 or TE_gpa.1 or BE_gpa.1 %}
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Semester 2</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="Sem2BarChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if SE_gpa.3 or TE_gpa.3 or BE_gpa.3 %}
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Semester 4</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="Sem4BarChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if TE_gpa.5 or BE_gpa.5 %}
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Semester 6</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="Sem6BarChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if BE_gpa.7 %}
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Semester 8</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="Sem8BarChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
<!-- ./wrapper -->
{% block js %}
<script src="{% static "/plugins/chart.js/Chart.js" %}"></script>
<script>
    var label_for_bar_chart = {{ sem_labels|safe }}
    {% if FE_gpa %}
    var fe_gpa = {{ FE_gpa }}
    {% endif %}
    {% if SE_gpa %}
    var se_gpa = {{ SE_gpa }}
    {% endif %}
    {% if TE_gpa %}
    var te_gpa = {{ TE_gpa }}
    {% endif %}
    {% if BE_gpa %}
    var be_gpa = {{ BE_gpa }}
    {% endif %}
    {% if avg_gpa %}
    var avg_gpa = {{ avg_gpa }}
    {% endif %}
    var label_for_line_graph = {{ months|safe }}
    {% if internship_in_months %}
    var internship_in_months = {{ internship_in_months }}
    {% endif %}
    var label_for_sem_bar_charts = ['FE', 'SE', 'TE', 'BE']
</script>
<!-- iCheck for checkboxes and radio inputs -->
<script>
  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

    //--------------
    //- AREA CHART -
    //--------------

    // Get context with jQuery - using jQuery's .get() method.
    {% if internship_in_months %}
    var areaChartCanvas = $('#areaChart').get(0).getContext('2d')
    // This will get the first returned node in the jQuery collection.
    var areaChart = new Chart(areaChartCanvas)
    var areaChartData = {
      labels  : label_for_line_graph,
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : internship_in_months
        },
        // {
        //   label               : 'Digital Goods',
        //   fillColor           : 'rgba(60,141,188,0.9)',
        //   strokeColor         : 'rgba(60,141,188,0.8)',
        //   pointColor          : '#3b8bba',
        //   pointStrokeColor    : 'rgba(60,141,188,1)',
        //   pointHighlightFill  : '#fff',
        //   pointHighlightStroke: 'rgba(60,141,188,1)',
        //   data                : dataX2
        // }
      ]
    }
    {% endif %}

    var areaChartOptions = {
      //Boolean - If we should show the scale at all
      showScale               : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : false,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - Whether the line is curved between points
      bezierCurve             : true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension      : 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot                : false,
      //Number - Radius of each point dot in pixels
      pointDotRadius          : 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth     : 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius : 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke           : true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth      : 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill             : false,
      //String - A legend template
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio     : true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive              : true
    }
    {% if internship_in_months %}
    // //Create the line chart
    areaChart.Line(areaChartData, areaChartOptions)
    {% endif %}
    //
    // //-------------
    // //- LINE CHART -
    // //--------------
    // var lineChartCanvas          = $('#lineChart').get(0).getContext('2d')
    // var lineChart                = new Chart(lineChartCanvas)
    // var lineChartOptions         = areaChartOptions
    // lineChartOptions.datasetFill = false
    // lineChart.Line(areaChartData, lineChartOptions)

    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    {% if FE_interns or SE_interns or TE_interns or BE_interns %}
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutChart       = new Chart(donutChartCanvas)
    var DonutData        = [
      {
        value    : {{FE_interns}},
        color    : '#f56954',
        highlight: '#f56954',
        label    : 'FE'
      },
      {
        value    : {{SE_interns}},
        color    : '#00a65a',
        highlight: '#00a65a',
        label    : 'SE'
      },
      {
        value    : {{TE_interns}},
        color    : '#f39c12',
        highlight: '#f39c12',
        label    : 'TE'
      },
      {
        value    : {{BE_interns}},
        color    : '#00c0ef',
        highlight: '#00c0ef',
        label    : 'BE'
      },
    ]
    {% endif %}
    var donutOptions     = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke    : true,
      //String - The colour of each segment stroke
      segmentStrokeColor   : '#fff',
      //Number - The width of each segment stroke
      segmentStrokeWidth   : 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 50, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps       : 100,
      //String - Animation easing effect
      animationEasing      : 'easeOutBounce',
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate        : true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale         : false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive           : true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio  : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    {% if FE_interns or SE_interns or TE_interns or BE_interns %}
    donutChart.Doughnut(DonutData, donutOptions)
    {% endif %}
    //-------------
    //- BAR CHART -
    //-------------
    {% if avg_gpa %}
    var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : label_for_bar_chart,
      datasets: [
        {
          label               : 'CGPA',
          fillColor           : 'rgba(210, 0, 222, 1)',
          strokeColor         : 'rgba(210, 14, 222, 1)',
          pointColor          : 'rgba(210, 24, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : avg_gpa
        }
      ]
    }
    {% endif %}
    var barChartOptions                  = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero        : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : true,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - If there is a stroke on each bar
      barShowStroke           : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth          : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing         : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing       : 1,
      //String - A legend template
      responsive              : true,
      //Boolean - whether to make the chart responsive
      maintainAspectRatio     : true
    }
    barChartOptions.maxBarThickness = 20
    barChartOptions.datasetFill = false
    {% if avg_gpa %}
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if skill1 or skill2 or skill3 %}
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieChart       = new Chart(pieChartCanvas)
    var PieData        = [
      {
        value    : {{skill1.1}},
        color    : '#f56954',
        highlight: '#f56954',
        label    : '{{skill1.0}}'
      },
      {
        value    : {{skill2.1}},
        color    : '#00a65a',
        highlight: '#00a65a',
        label    : '{{skill2.0}}'
      },
      {
        value    : {{skill3.1}},
        color    : '#f39c12',
        highlight: '#f39c12',
        label    : '{{skill3.0}}'
      }
    ]
    {% endif %}
    var pieOptions     = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke    : true,
      //String - The colour of each segment stroke
      segmentStrokeColor   : '#fff',
      //Number - The width of each segment stroke
      segmentStrokeWidth   : 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 0, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps       : 100,
      //String - Animation easing effect
      animationEasing      : 'easeOutBounce',
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate        : true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale         : false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive           : true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio  : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    {% if skill1 or skill2 or skill3 %}
    pieChart.Pie(PieData, pieOptions)
    {% endif %}
    {% if FE_gpa.0 or FE_gpa.1 %}
    var barChartCanvas                   = $('#FEAllSemBarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : label_for_bar_chart,
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : fe_gpa
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if SE_gpa.0 or SE_gpa.1 or SE_gpa.2 or SE_gpa.3 or SE_gpa.4 %}
    var barChartCanvas                   = $('#SEAllSemBarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : label_for_bar_chart,
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : se_gpa
        },
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if TE_gpa.0 or TE_gpa.1 or TE_gpa.2 or TE_gpa.3 or TE_gpa.4 or TE_gpa.5 %}
    var barChartCanvas                   = $('#TEAllSemBarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : label_for_bar_chart,
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : te_gpa
        }
      ]
    }

    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if BE_gpa.0 or BE_gpa.1 or BE_gpa.2 or BE_gpa.3 or BE_gpa.4 or BE_gpa.5 or BE_gpa.6 or BE_gpa.7 %}
    var barChartCanvas                   = $('#BEAllSemBarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : label_for_bar_chart,
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : be_gpa
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if FE_gpa.0 or SE_gpa.0 or TE_gpa.0 or BE_gpa.0 %}
    var barChartCanvas                   = $('#Sem1BarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : ['FE', 'SE', 'TE', 'BE'],
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [fe_gpa[0], se_gpa[0], te_gpa[0], be_gpa[0]]
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if FE_gpa.1 or SE_gpa.1 or TE_gpa.1 or BE_gpa.1 %}
    var barChartCanvas                   = $('#Sem2BarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : ['FE', 'SE', 'TE', 'BE'],
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [fe_gpa[1], se_gpa[1], te_gpa[1], be_gpa[1]]
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if SE_gpa.2 or TE_gpa.2 or BE_gpa.2 %}
    var barChartCanvas                   = $('#Sem3BarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : ['SE', 'TE', 'BE'],
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [se_gpa[2], te_gpa[2], be_gpa[2]]
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if SE_gpa.3 or TE_gpa.3 or BE_gpa.3 %}
    var barChartCanvas                   = $('#Sem4BarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : ['SE', 'TE', 'BE'],
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [se_gpa[3], te_gpa[3], be_gpa[3]]
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if TE_gpa.4 or BE_gpa.4 %}
    var barChartCanvas                   = $('#Sem5BarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : ['TE', 'BE'],
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [te_gpa[4], be_gpa[4]]
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if TE_gpa.5 or BE_gpa.5 %}
    var barChartCanvas                   = $('#Sem6BarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : ['TE', 'BE'],
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [te_gpa[5], be_gpa[5]]
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if BE_gpa.6 %}
    var barChartCanvas                   = $('#Sem7BarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : ['BE'],
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [be_gpa[6]]
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
    {% if BE_gpa.7 %}
    var barChartCanvas                   = $('#Sem8BarChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData = {
      labels  : ['BE'],
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [be_gpa[7]]
        }
      ]
    }
    barChart.Bar(barChartData, barChartOptions)
    {% endif %}
  })


</script>

{% endblock %}
