.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.box {
   position: relative;
   top: 0;
   opacity: 1;
   float: right;
   padding: 60px 50px 40px 50px;
   width: 100%;
   background: #fff;
   border-radius: 10px;
   transform: scale(1);
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   z-index: 5;
}
.Con{
  background-color: #FFFFFF;
  padding: 10px;
  width: 1000px;
  height:600px;
  margin-left:  auto;
  margin-right: auto;
  border: 1.5px solid black;
  vertical-align: middle;
  border-radius: 40px;
  float: middle;
  box-shadow: 5px 10px #428095;
}
.b1{
  border-color: black;
  height: 45px;
  width: 100px;
  background: #207793; 
  font-size: 20px; 
}
.b1:hover{
  background-color: #428095;
  border-color: black    ;
  cursor: pointer;
}
.b1:active {
  background-color: #428095;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.fyp{
  font-size: 15px;
  font-color:black;

}
.b2{
  border-radius: 5px;
  float: left;
  border-color:#428095 ;
  width: 500px;
  font-size: 25px;
  background: #ffffff;
}
.b2:hover{
    background-color: #3cb371;
    cursor: pointer; 
}
.b2:active{
    box-shadow: 0 5px #666;
    background-color: #3cb371;
}
.b3{
  border-radius: 5px;
  float: left;
  border-color: #428095 ;
  width: 500px;
  font-size: 25px;
  background: #ffffff;

}
.b4{
  border-color: black;
  height: 45px;
  width: 100px;
  background: rgb(255, 223, 71); 
  font-size: 20px;
  margin: 4px 10px;
  width: 45%;  
  border-radius: 15px;
}
.b3:hover{
  cursor: pointer;
}
.b3:active{
    box-shadow: 0 5px #666;
    background-color: #3cb371;
}
.b4:hover{
  cursor: pointer;
  background-color: purple;

}
.b5{
  float: right;
  background: rgb(255, 223, 71) ;
  width: 20px;
  height: 100px;
  border-color: black;
  text-align: center;
  font-size: 12px;
}
.b5:hover{
  background-color: blue;
  cursor: pointer;
}
.b5:active{
    box-shadow: 0 5px #666;
    background-color: rgb(255, 255, 0);
}
.tf{
  border-color: black;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
}
.b3:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    transition: all 0.8s
}

.b3:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.tablinks{
  border-radius: 5px;
  float: left;
  border-color:#428095 ;
  width: 500px;
  font-size: 25px;
  background: #ffffff;

}